extends ../layout.pug

block content
  main
    section
      table
        tr
          td First Name
          td=firstName
      
        tr
          td Last Name
          td=lastName
      
        tr
          td Address
          td=address
      
        tr
          td Date
          td=date
    section
      a(href='/upload')
        button back
